p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: $beige;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}

.questions {
	.card {
		background-color: black;
		color: white;

		p {
			z-index: 3;
		}
	}
}

.answers {
	.card {
		background-color: white;
		color: black;
	}
}

.card {
	height: 250px;
	width: 180px;
	margin: 10px;
    border-radius: 7px;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: 3px 3px 5px grey;
	-moz-box-shadow: 3px 3px 5px grey;
	box-shadow: 3px 3px 5px grey;
	padding: 20px;
	transition: .5s;
}

.questions, .answers {
	justify-content: center;
	width: 100%;
	margin: 20px auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;

}

.front, .back {
	font-weight: bold;
	
}

.back {
	font-size: 30px;
	line-height: 30px;

}

.front {
	font-size: 15px;
	line-height: 20px;
	display: none;
}

.buttons-container {
	
	display: flex;
	justify-content: center;
	font-family: 'Bungee', cursive;

	.button {
		cursor: pointer;
		margin: auto 20px;
		padding: 10px 20px;
		-webkit-box-sizing: border-box;
		-webkit-box-shadow: 1px 1px 1px 1px $neutral;
		-moz-box-shadow: 1px 1px 1px 1px $neutral;
		box-shadow: 1px 1px 1px 1px $neutral;
		border-radius: 5px;
		background-color: $redTint;
		color: white;
	}
	
	.button:hover {
		background: $redDark;
	}
}

#name-modal {
	
	font-family: 'Bungee', cursive;
	border-radius: 5px;
 	display: none;	
	color: $beige;
	position: fixed;
	width: 200px;
    height: 140px;
    background-color: $redDark;
    text-align: center;
    padding: 15px 10px 5px 10px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
	
	#exit {
		position: absolute;
		top: 3px;
		right: 10px;
		cursor: pointer;
	}

	#enter {
		margin-top: 10px;
		span {
			cursor: pointer;	
			border-radius: 3px;
			padding: 5px 10px;
			color: $beige;
			background: black;
		}
		
	}

	p {
		font-size: 16pt;
	}

	input {
		width: 150px;
		margin: 10px;
	}
}

#score-container {
	
	font-family: 'Bungee', cursive;	
	overflow-y: auto;
	padding: 0;
	border-radius: 10px;
	display: none;
	width: 70%;
	height: 90%;
	position: fixed;
	z-index: 1000;
	background: $redDark;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	

	#option-container {
		position: relative;
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 12pt;
		color: $beige;
		margin-top: -20px;

		#recent, #popular {
			border-radius: 5px;
			float: left;
			margin: 0 20px;
			padding: 7px 12px;
			background: $neutral;
			color: $redDark;
			cursor: pointer;
		}
		
		#recent {
			background-color: $beige;
			
		}
	}

	#score {
		margin: 30px;
		padding: 0;
		position: relative;
		display: none;
		list-style: none;
		
		li {
 			margin: 10px 0;
			width: 100%;
			height: 200px;
			background-color: #F1F0D8;
			border-radius: 5px;
			padding: 5px;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;	
			display: flex;
			
			.question_score, .answer_score {
				font-family: 'Helvetica', 'Arial', sans-serif;
				width: 120px;
				height: 160px;
				border-radius: 5px; 
				padding: 10px;
				float: left;
				margin: 5px 10px 0 10px;
			}
			
			.question_score {
				background-color: black;
				color: white;
			}
			
			.answer_score {
				background-color: white;
				color: black;
			}
			.other_score {
				float: left;
				line-height: 40px;
				margin-left: 30px;
				margin-top: 30px;
				font-size: 20px;
				
				.user-name {
					font-size: 20px;
					color: black;
				}
				
				.vote-button {
					cursor: pointer;
					padding: 5px 8px;
					border-radius: 3px;
					font-size: 15px;
					background-color: $redTint;
					color: white;
					text-align: center;
				}
				
				.score-value {
					font-size: 25px;
					color: $redTint;
				}
			}
			
		}
	}

	h1 {
		position: relative;
	    color: white;
		text-align: center;
		font-size: 40px;
	}
	
    #exit_score {
	    position: absolute;
	    top: 5px;
	    right: 15px;
		font-size: 25pt;
		color: black;
		cursor: pointer;
		z-index: 100;
    }
    
    #loading svg {
	    width: 100px; 
	    position: fixed;
	    z-index: 10000;
		top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
    }
}