p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: $beige;
}

.questions {
	.card {
		background-color: black;
		color: white;
// 		border: 1px solid #818181;

		p {
			z-index: 3;
		}
	}
}

.answers {
	.card {
		background-color: white;
// 		border: 1px solid #c7c7c7;
		color: black;
	}
}

.card {
	height: 250px;
	width: 180px;
	margin: 10px;
    border-radius: 7px;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: 3px 3px 5px grey;
	-moz-box-shadow: 3px 3px 5px grey;
	box-shadow: 3px 3px 5px grey;
	padding: 20px;
	transition: .5s;
}

.questions, .answers {
	justify-content: center;
	width: 100%;
	margin: 20px auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;

}

.front, .back {
	font-weight: bold;
	
}

.back {
	font-size: 30px;
	line-height: 30px;

}

.front {
	font-size: 15px;
	line-height: 20px;
	display: none;
}

.buttons-container {
	display: flex;
	justify-content: center;
	.button {
		cursor: pointer;
		margin: auto 20px;
		padding: 10px 20px;
		-webkit-box-sizing: border-box;
		-webkit-box-shadow: 1px 1px 1px 1px $neutral;
		-moz-box-shadow: 1px 1px 1px 1px $neutral;
		box-shadow: 1px 1px 1px 1px $neutral;
		border-radius: 5px;
		background-color: $redTint;
		color: white;
	}
	
	.button:hover {
		background: $redDark;
	}
}

#name-modal {

 	display: none;	
	color: $beige;
	position: fixed;
	width: 200px;
    height: 140px;
    background-color: $redDark;
    text-align: center;
    padding: 15px 10px 5px 10px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	#exit {
		position: absolute;
		top: 3px;
		right: 10px;
		cursor: pointer;
	}

	#enter {
		margin-top: 10px;
		span {
			cursor: pointer;	
			border-radius: 3px;
			padding: 5px 10px;
			color: $beige;
			background: black;
		}
		
	}

	p {
		font-size: 16pt;
	}

	input {
		width: 150px;
		margin: 10px;
	}
}